body {
    background-color: rgb(255, 255, 255);
}

div.container {
    margin: 0 auto;
    width: 90%;
}
.home {
    margin: 0 auto;
    width: 90%; width: 100%;
    height: 50px;
    font-size-adjust: none;
    background-color: #511010;
}
.menu{margin: 0;width: 100%;position: sticky;}
ul.horizontal{
    list-style: none;
    padding: 0;
    margin: 0;
    height: 97px;
    overflow: hidden;
    background-color:#4b2708;
}
ul.horizontal li {float:left;}
ul.horizontal li a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    padding: 20px;
    text-align: left;
}
ul.horizontal li a:hover{ 
    height: 20px;
    background-color: #95531c;
    color: white;
}

ul.horizontal li {float:left;}
ul.horizontal li h5 {
    display: block;
    text-decoration: none;
    color: #ffffff;
    padding: 20px;
    text-align: left;
}
ul.horizontal li h5:hover{ 
    height: 20px;
    background-color: #95531c;
    color: white;
}


.bgcolor1 {
    background-color: #083e19;
}

/* header{
    width: 100%;
    height: 60px;
    font-size-adjust: none;
    background-color: #2a0000;
} */
img {
    object-fit: scale-down;
}
.gambar {
    text-align: center;
    background-color: #371c04;
}
.gambar1 {
    text-align: center;
    background-color: #083e19;
}
.gambar2 {
    text-align: center;
    background-color: #091740;
}
.gambar3 {
    text-align: center;
    background-color: #511010;
}
.gambar4 {
    text-align: center;
    background-color: #95531c;
}

div.content {
    margin: 20%;
    width: 90%;
    height: 800px;
    background: rgb(88, 80, 80);
}

footer {
    width: 100%;
    height: 50px;
    background: #4b2708;
    float: left;
}

.tk {
    background-color: #513110;
    height: 45px;
    width: 1353px;
}
.sd {
    background-color: #511010;
    height: 45px;
    width: 1353px;
}
.smp {
    background-color: #091740;
    height: 45px;
    width: 1353px;
}
